*{
  font-size: 17px;
}

.auth {
  background-color: black;

  color: white;
}

.wrapper {
  display: flex;

  justify-content: center;

  align-items: center;

  height: 100vh;
}

.banner {
  position: relative;
}

.circle {
  width: 100px;

  height: 100px;

  background-color: white;

  border-radius: 50%;

  position: absolute;

  top: 50%;

  left: 50%;

  transform: translate(-50%, -50%);
}

.overlay {
  width: 100%;

  height: 100%;

  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));

  position: absolute;

  top: 0;

  left: 0;
}

.auth-body {
  margin-left: 20px; /* Adjust as needed */
}

.auth-form {
  width: 300px;
}

.label {
  color: white;
}

.input-container {
  border: 1px solid white;

  border-radius: 5px;

  margin-top: 5px;
  padding: 10px;
  max-width: fit-content;
}

.input-group {
  margin-bottom: 15px;
}

.auth-btn {
  background-color: white;

  color: black;

  padding: 10px;

  border: none;

  border-radius: 5px;

  cursor: pointer;
  margin-right: 12px;
}

.auth-btn:hover {
  background-color: gray;
}

.message {
  color: white;
}

.link-to {
  color: white;

  text-decoration: underline;
}

.link-to:hover {
  color: gray;
}
