<div class="spotify-playlists">

    <input type="text" [(ngModel)]="searchTerm" (input)="searchSongs()" placeholder="Search artists, songs, genres">
    <div class="search-results">
        <ul *ngIf="showDropdown">
            <li *ngFor="let song of filteredSongs">
                <ng-container *ngIf="searchTerm.startsWith('@')">
                    <button (click)="goToArtistSongs(song.artist)">Artist: {{ song.artist }}</button>
                </ng-container>
                <ng-container *ngIf="searchTerm.startsWith('/')">
                    Genre: {{ song.genre }}
                </ng-container>
                <ng-container *ngIf="!searchTerm.startsWith('@') && !searchTerm.startsWith('/')">
                    Song name: {{ song.title }}
                </ng-container>
            </li>
        </ul>
    </div>


    <h2>Songs</h2>
    <div class="list">
        <div class="item" *ngFor="let song of songs; let i = index">
            <ng-container *ngIf="i < 4">
                <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsRVRzfyLpNbXFvfCCOhvdWG-qEl5TbRHK6g&usqp=CAU" />
                <h4>{{ song.title }}</h4>
                <p>
                    <ng-container *ngIf="song.artist === song.musicDirector; else bothNames">
                        {{ song.musicDirector }}
                    </ng-container>
                    <ng-template #bothNames>
                        {{ song.artist }} & {{ song.musicDirector }}
                    </ng-template>
                </p>
                <div class="play">
                    <button (click)="addToFavSongs(song.id)">❤️</button>
                    <button class="fa fa-play" (click)="toggleDropdown(i)">📖</button>
                    <ul *ngIf="showDropdown[i]" class="dropdown-menu">
                        <li *ngFor="let playlist of playlistNames" class="dropdown-item">
                            <a (click)="addToPlaylist(song.id,playlist.id)">{{ playlist.name }}</a>
                        </li>
                    </ul>
                </div>
            </ng-container>
        </div>
    </div>

    <h2>Artists</h2>
    <div class="list">
        <div class="item" *ngFor="let artist of uniqueArtists; let i = index">
            <ng-container *ngIf="i < 4">
                <img
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f7/AR_Rahman_At_The_%E2%80%98Marvel_Anthem%E2%80%99_Launch.jpg/330px-AR_Rahman_At_The_%E2%80%98Marvel_Anthem%E2%80%99_Launch.jpg" />
                <div class="play">
                    <button class="fa fa-play" (click)="goToArtistSongs(artist)">👤</button>
                </div>
                <h4>{{ artist }}</h4>
            </ng-container>
        </div>
    </div>

    <h2>Genres</h2>
    <div class="list">
        <div class="item" *ngFor="let genre of uniqueGenres; let i = index">
            <ng-container *ngIf="i < 4">
                <img src="https://i.scdn.co/image/ab67616d0000b2733b5e11ca1b063583df9492db" />
                <div class="play">
                    <button class="fa fa-play" (click)="goToGenreSongs(genre)"></button>
                </div>
                <h4>{{ genre }}</h4>
            </ng-container>
        </div>
    </div>
</div>