<header>
  <div class="navbar">
    <h3 class="title">{{ title }}</h3>
    <nav class="wrapper">
      <ul class="nav-items">
        <li class="nav-item">
          <a routerLink="/home" class="nav-link" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="/search" class="nav-link" routerLinkActive="active">Search</a>
        </li>
        <li class="nav-item">
          <a routerLink="/Library" class="nav-link" routerLinkActive="active">Your Library</a>
        </li>
        <li class="nav-item" *ngIf="authService.isLoggedIn; else loginLink">
          <div class="avatar" [title]="authService.getUsername()">
            {{ this.authService.getUsername().charAt(0).toUpperCase() }}
          </div>
          <button (click)="logout()" class="nav-link btn auth">Logout</button>
        </li>
        <ng-template #loginLink>
          <li class="nav-item">
            <div class="avatar" title="anonymous">A</div>
            <a routerLink="/login" class="nav-link auth" routerLinkActive="active">Login</a>
          </li>
        </ng-template>
        <!-- <app-auth-button></app-auth-button> -->
      </ul>
    </nav>
  </div>
</header>